.chatbot-container {
  background-color: #f9f9f9;
  border-radius: 10px;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  height: 85dvh;
  overflow: hidden;
  padding: 10px; /* Espacio en móvil */
  width: 90%;
}

.chat-window {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: auto;
  padding: 10px;
}

.chat-input-container {
  display: flex;
  border-top: 1px solid #ccc;
}

.chat-input-container input {
  flex: 1;
  padding: 10px;
  border: none;
  outline: none;
  font-size: 14px;
}

.chat-input-container button {
  padding: 10px 20px;
  border: none;
  background-color: #5554f3;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.chat-input-container button:hover {
  background-color: #6666e2;
}

.loading-message {
  display: flex;
  animation: blink 2s infinite;
}

@keyframes blink {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}

/* Para que el chat sea responsive */
@media (max-width: 400px) {
  .chatbot-container {
    width: 100%; /* Ocupa todo el ancho en pantallas pequeñas */
    height: 100dvh; /* Ocupa casi toda la altura */
  }
}
