html,
body,
#root {
  background-color: #f0f2f5;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-container {
  align-items: center;
  display: flex;
  flex-direction: column-reverse;
  gap: 1rem;
  justify-content: center;
  padding: 16px;
}

/* Botón de login siempre visible */
.login-btn {
  align-self: flex-end;
  background-color: #5554f3;
  border-radius: 5px;
  border: none;
  color: white;
  cursor: pointer;
  font-weight: bold;
  margin-right: 3rem;
  padding: 10px 20px;
  z-index: 500;
}

.login-btn:hover {
  background-color: #6666e2;
}
